<!DOCTYPE html>
<html lang="pt-br">
<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,700">
    <link rel="icon" type="image/x-icon" href="/static/img/logo.png">
    <link rel = "stylesheet" href = "/static/css/base.css">
    <script src = "/static/js/nav.js"></script>
    {% block title %} {% endblock %}
    <header>
        <nav class = "header">
            <a href = "/home" class = "logo"> Term Control </a>
            <div class = "mobile-menu">
                <div class = "line1"></div>
                <div class = "line2"></div>
                <div class = "line3"></div>
            </div>
            <ul class = "nav-list">
                <li><a href = "/register_user">Adicionar<br>Usuários </a></li>
                <li><a href = "/manage_user"> Gerenciar<br>Usuários </a></li>
                <li style="margin-left: 85px;"><a href= "/register_sensor"> Registrar<br>sensores</a></li>
                <li><a href= "/manage_sensor"> Remover<br>sensores</a></li>
                <li ><a href= "/register_atuador"> Registrar<br>atuadores</a></li>
                <li style="margin-right: 43px;"><a href= "/manage_atuador"> Remover<br>atuadores</a></li>                
                <li><a href = "#!"> Controle<br>Remoto </a></li>
                <li><a href = "#!"> Ver<br>Dados </a></li>
                <li><a href = "#!"> Histórico </a></li>
                <li><a href = "/"> Sair</a></li>
            </ul>
        </nav>
    </header>
</head>
<body>
    {%block body %} {% endblock %}
</body>
</html>