<!DOCTYPE html>
<html lang="pt-br">
<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,700">
    <link rel = "stylesheet" href = "static/css/base.css">
    <script src = "/static/js/nav.js"></script>
    {% block title %} {% endblock %}
    <header>
        <nav class = "header">
            <a href = "/home" class = "logo"> Term Control </a>
            <div class = "mobile-menu">
                <div class = "line1"></div>
                <div class = "line2"></div>
                <div class = "line3"></div>
            </div>
            <ul class = "nav-list">
                <li><a href = "#!"> Controle Remoto </a></li>
                <li><a href = "#!"> Ver Dados </a></li>
                <li><a href = "#!"> Histórico </a></li>
                <li><a href = "/"> Sair </a></li>
            </ul>
        </nav>
    </header>
</head>
<body>
    {%block body %} {% endblock %}
</body>
</html>