<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,700">
    <link rel = "stylesheet" href = "/static/css/base.css">
    <link rel= = "icon" type= = "image/x-icon00" href = "/static/img/logo.png">
</head>
<body>
    <nav class = "header">
        <p class = "logo"> Term Control </p>
        </div>
    </nav>
    <form action = "http://localhost:8081/validate_credential" method = "post">
        <p> Usuário: </p>
        <p><input type = "text" placeholder = "Usuário" name = "user" required/></p>
        <p> Senha: </p>
        <p><input type = "password" placeholder = "Senha" name = "password" required/></p>
        <p><input type = "submit" value = "Login"/></p>
    </form>
</body>
</html>