{% extends "base.html" %}
{%block title %} <title> Gerenciar Usuários </title> {% endblock %}
{% block body %}
<h1> Gerenciar usuários: </h1>
    <form action = "/del_user" method = "post">
        <table>
            <tr>
                <th>Nome</th>
                <th>Senha</th>
            </tr>
            {% for key, value in device.items() %}
                <tr>
                    <td>{{key}}</td> <input type = "hidden" name = "user" value = "{{key}}"/>
                    <td>{{value}}</td>
                    <td><input type = "submit" class = "button" value = "Remover"/></td>
                </tr>
            {% endfor %}
        </table>
    </form>
    
{% endblock %}