{% extends "baseAdmin.html" %}
{% block title %} <title>Gerenciar sensores</title> {% endblock %}
{% block body %}
<h1>Remover sensores</h1>
    <div class="table">
        <table>
            <tr>
                <th>Nome</th>
            </tr>
            {% for key, value in device.items() %}
                <form action="http://localhost:8081/del_sensor" method="post">
                    <tr>
                        <td>{{key}}</td> <input type="hidden" name="sensor" value="{{key}}">
                        <td><input type="submit" value="Remover"></td>
                    </tr>
                </form>
            {% endfor %}
        </table>    
    </div>
{% endblock %}